<% if user_broker.errors.any? %>
  <div class="card card-inverse card-danger">
    <div class="card-header">
      <%= pluralize(user_broker.errors.count, 'erro impediu', 'erros impediram') %> salvar os dados:
  </div>
    <div class="card-block">
      <ul>
        <% user_broker.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for(user_broker) do |f| %>
  <div class="card">
    <div class="card-header">
      <strong><%= user_broker.persisted? ? 'Editar' : 'Nova' %> corretora</strong>
    </div>
    <div class="card-block">
      <div class="form-group">
        <%= f.label :broker_id %>
        <%= f.select :broker_id, Broker.all.map { |b| [b.name, b.id] }, {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Ex: João (1412717)' %>
      </div>
    </div>
    <div class="card-footer">
      <%= f.submit class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Voltar', user_brokers_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  </div>
<% end %>
