<% content_for :action_buttons do %>
  <li class="breadcrumb-menu">
    <div class="btn-group" role="group">
      <%= link_to new_user_broker_path, class: 'btn btn-secondary' do %>
        <i class="fa fa-plus-circle"></i> &nbsp;Nova corretora
      <% end %>
    </div>
  </li>
<% end %>

<div class="card">
  <div class="card-header">
    Contas em corretoras
  </div>
  <div class="card-block">
    <% if @user_brokers.size > 0 %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Corretora</th>
            <th>Adicionada em</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @user_brokers.each do |user_broker| %>
            <tr>
              <td><%= link_to user_broker.name, edit_user_broker_path(user_broker) %></td>
              <td>
                <%= user_broker.broker.name %><br>
                <small>CNPJ: <%= user_broker.broker.formatted_cnpj %></small>
              </td>
              <td><%= l user_broker.created_at, format: :numbers %></td>
              <td>
                <%= link_to edit_user_broker_path(user_broker), class: 'btn btn-sm btn-outline-primary' do %>
                  <i class="fa fa-edit"></i> Editar
                <% end %>
                <%= link_to user_broker, method: :delete, data: { confirm: 'Tem certeza que deseja remover?' }, class: 'btn btn-sm btn-outline-danger' do %>
                  <i class="fa fa-trash"></i> Remover
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="card card-inverse card-info">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Você ainda não cadastrou nenhuma conta em corretora! <%= link_to 'Clique aqui', new_user_broker_path %> e cadastre agora.</p>
          </blockquote>
        </div>
      </div>
    <% end %>
  </div>
</div>
