<% if current_user.errors.any? %>
  <div class="card card-inverse card-danger">
    <div class="card-header">
      <%= pluralize(current_user.errors.count, 'erro impediu', 'erros impediram') %> salvar os dados:
  </div>
    <div class="card-block">
      <ul>
        <% current_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <%= form_tag(url_for(controller: 'dashboard', action: 'update_account'), method: :patch) do %>
      <div class="card">
        <div class="card-header">
          <strong>Meus dados</strong>
        </div>
        <div class="card-block">
          <div class="form-group">
            <%= label_tag :email, 'Email' %>
            <%= text_field_tag :email, current_user.email, class: 'form-control', disabled: true %>
            <span class="help-block"><small>Não é possível alterar o email cadastrado</small></span>
          </div>

          <div class="form-group">
            <%= label_tag :password, 'Nova senha' %>
            <%= password_field_tag :password, '', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= label_tag :password_confirmation, 'Confirmação de senha' %>
            <%= password_field_tag :password_confirmation, '', class: 'form-control' %>
          </div>
        </div>
        <div class="card-footer">
          <%= submit_tag 'Atualizar meus dados', class: 'btn btn-sm btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
