<div class="card">
  <div class="card-header">
    Posições consolidadas
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-striped table-hover table-sm">
          <thead class="thead-inverse">
            <tr>
              <th>Classe de ativo</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <% Transaction::ASSET.values.each do |asset| %>
              <tr>
                <td><%= I18n.t asset, scope: 'constants.asset' %></td>
                <td><%= number_to_currency holdings_value_for_asset(asset) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td>Total</td>
              <td><%= number_to_currency holdings_value_for_asset('Total') %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
    Posições em ações
  </div>
  <div class="card-block">
    <table class="table table-striped table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>Ativo</th>
          <th>Qtd.</th>
          <th>Preço<br>médio</th>
          <th>Cotação</th>
          <th>Valor<br>inicial</th>
          <th>Valor<br>atual</th>
          <th>Variação</th>
          <th>Estratégia</th>
        </tr>
      </thead>
      <tbody>
        <% initial_value = current_value = 0 %>
        <% @holdings.each do |holding| %>
          <% next if holding.asset != Transaction::ASSET['stock'] %>
          <% initial_value += holding.initial_value %>
          <% current_value += holding.current_value %>
          <tr>
            <td>
              <%= holding.asset_name %><br>
              <%
                holding.user_brokers.each do |user_broker_id, quantity|
                  user_broker = user_broker_from_id(user_broker_id)
              %>
                <span class="tag tag-default"><%= user_broker.name %>: <%= number_to_human quantity %></span>
              <% end %>
            </td>
            <td><%= holding.quantity %></td>
            <td><%= number_to_currency holding.initial_price %></td>
            <td><%= number_to_currency holding.current_price %></td>
            <td><%= number_to_currency holding.initial_value %></td>
            <td><%= number_to_currency holding.current_value %></td>
            <td>
              <span class="colorize-number"><%= number_to_percentage holding.net_profit_percentage %></span>
              <small><span class="colorize-number">(<%= number_to_currency holding.net_profit %>)</span></small>
            </td>
            <td>
              <%
                holding.books.each do |book_id, quantity|
                  book = book_from_id(book_id)
              %>
                  <span class="tag" style="background-color: <%= book.color %>;"><%= book.name %>: <%= number_to_human quantity %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr style="font-weight: 700; color: white;" class="bg-inverse">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= number_to_currency initial_value %></td>
          <td><%= number_to_currency current_value %></td>
          <td>
            <span><%= number_to_percentage(100*(current_value/initial_value - 1)) if initial_value > 0 %></span>
            <small><span>(<%= number_to_currency current_value - initial_value %>)</span></small>
          </td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
