<div class="row">
  <div class="col-lg-8 m-x-auto pull-xs-none vamiddle">
    <div class="card-group">

      <div class="card p-a-2">
        <div class="card-block">
          <h1><%= image_tag('logo-ir-investidor.png', alt: 'IR Investidor') %></h1>
          <p class="text-muted">Informe email e senha para acessar</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.hidden_field :remember_me, value: '1' %>
            <div class="input-group m-b-1">
              <span class="input-group-addon">@</span>
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true %>
            </div>
            <div class="input-group m-b-2">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <%= f.password_field :password, class: 'form-control', placeholder: 'Senha', autocomplete: "off" %>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary p-x-2">Entrar</button>
              </div>
              <% if resource.devise_modules.include?(:recoverable) %>
                <div class="col-md-6 text-md-right">
                  <%= link_to 'Esqueceu a senha?', new_password_path(resource_name), class: 'btn btn-link p-x-0' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div> <!-- /.card.p-a-2 -->

      <div class="card card-inverse card-primary p-y-3">
        <div class="card-block text-xs-center">
          <div>
            <h2>Novo aqui?</h2>
            <p>Se você investe em Renda Fixa (CDB, LCI, LCA, Tesouro Direto, etc.) ou Renda Variável (Ação, Opção, Ouro, FII, etc.), crie uma conta e calcule automaticamente seus impostos. É grátis!</p>
            <%= link_to 'Quero me cadastrar', new_registration_path(resource_name), class: 'btn btn-primary active m-t-1' %>
          </div>
        </div>
      </div> <!-- /.card.p-y-3 -->

    </div> <!-- /.card-group -->
  </div> <!-- /.vamiddle -->
</div> <!-- /.row -->


<div class="row">
  <div class="col-lg-8 m-x-auto pull-xs-none">
    <div class="devise-other-options">
      <% if resource.devise_modules.include?(:confirmable) %>
        <%= link_to 'Não recebeu o email de ativação?', new_confirmation_path(resource_name), class: 'btn btn-link' %>
      <% end %>
      <% if resource.devise_modules.include?(:lockable) %>
        <%= link_to 'Precisa desbloquear sua conta?', new_unlock_path(resource_name), class: 'btn btn-link' %>
      <% end %>
    </div>
  </div>
</div>
