<% tax = locals[:tax]; date = locals[:date] %>
<% darf = 0 %>

<div class="card">
  <div class="card-header">
    Entenda como o DARF foi calculado
  </div>
  <div class="card-block">
    <div id="darf-calculated" class="row">
      <div class="col-sm-8">
        <h4><%= l date, format: :month %></h4>
        <br>
        <table class="table table-calc table-hover table-sm">
          <thead>
            <tr>
              <th colspan="2">1. Cálculo de ganhos líquidos em operações normais</th>
            </tr>
          </thead>
          <tbody>
            <% # non daytrade
              aliquot      = tax.calculated_aliquots[:non_daytrade] || 0
              net_earnings = tax.calculated_net_earnings[:non_daytrade] || 0
              losses       = tax.calculated_losses[:non_daytrade] || 0
              earnings     = [net_earnings - losses, 0].max
              taxes        = aliquot * earnings
              darf += taxes
            %>
            <tr>
              <td>Ganhos líquidos:</td>
              <td><%= number_to_currency net_earnings %></td>
            </tr>
            <tr>
              <td>Compensação de prejuízos acumulados:</td>
              <td><%= number_to_currency losses %></td>
            </tr>
            <tr>
              <td>
                Subtotal de imposto:
                <br>
                (<%= number_to_currency earnings %> &times; <%= number_to_percentage 100 * aliquot %>)
              </td>
              <td><%= number_to_currency taxes %></td>
            </tr>
            <tr>
              <% if tax.stock_sales == 0 %>
                <td>Sem vendas de ações no mês. Nada a descontar.</td>
                <td></td>
              <% elsif !tax.stocks_tax_free? %>
                <td>Sem isenção para ganhos com ações (vendas maior que R$ 20.000,00)</td>
                <td></td>
              <% else %>
                <%
                  darf -= tax.calculated_taxes_stocks
                  darf = [darf, 0].max
                %>
                <td>
                  Vendas de ações no mês: <%= number_to_currency tax.stock_sales %>.
                  Portanto, ganhos com ações isentos de imposto (valor inferior a R$ 20.000,00).
                  Ganhos líquidos com ações: <%= number_to_currency tax.calculated_taxes_stocks/0.15 %>.
                  Desconto de imposto em operações normais:
                  </td>
                <td><%= number_to_currency tax.calculated_taxes_stocks %></td>
              <% end %>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Imposto calculado:</td>
              <td><%= number_to_currency(darf > 0 ? darf : 0) %></td>
            </tr>
          </tfoot>
        </table>

        <table class="table table-calc table-hover table-sm">
          <thead>
            <tr>
              <th colspan="2">2. Cálculo de ganhos líquidos em operações day trade</th>
            </tr>
          </thead>
          <tbody>
            <% # daytrade
              aliquot      = tax.calculated_aliquots[:daytrade] || 0
              net_earnings = tax.calculated_net_earnings[:daytrade] || 0
              losses       = tax.calculated_losses[:daytrade] || 0
              earnings     = [net_earnings - losses, 0].max
              taxes        = aliquot * earnings
              darf += taxes
            %>
            <tr>
              <td>Ganhos líquidos:</td>
              <td><%= number_to_currency net_earnings %></td>
            </tr>
            <tr>
              <td>Compensação de prejuízos acumulados:</td>
              <td><%= number_to_currency losses %></td>
            </tr>
            <tr>
              <td>
                Subtotal de imposto:
                <br>
                (<%= number_to_currency earnings %> &times; <%= number_to_percentage 100 * aliquot %>)
              </td>
              <td><%= number_to_currency taxes %></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Imposto calculado:</td>
              <td><%= number_to_currency(darf > 0 ? darf : 0) %></td>
            </tr>
          </tfoot>
        </table>

        <table class="table table-calc table-hover table-sm">
          <thead>
            <tr>
              <th colspan="2">3. Cálculo de ganhos líquidos em operações com fundos imobiliários</th>
            </tr>
          </thead>
          <tbody>
            <% # fii
              aliquot      = tax.calculated_aliquots[:fii] || 0
              net_earnings = tax.calculated_net_earnings[:fii] || 0
              losses       = tax.calculated_losses[:fii] || 0
              earnings     = [net_earnings - losses, 0].max
              taxes        = aliquot * earnings
              darf += taxes
            %>
            <tr>
              <td>Ganhos líquidos:</td>
              <td><%= number_to_currency net_earnings %></td>
            </tr>
            <tr>
              <td>Compensação de prejuízos acumulados:</td>
              <td><%= number_to_currency losses %></td>
            </tr>
            <tr>
              <td>
                Subtotal de imposto:
                <br>
                (<%= number_to_currency earnings %> &times; <%= number_to_percentage 100 * aliquot %>)
              </td>
              <td><%= number_to_currency taxes %></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Imposto calculado:</td>
              <td><%= number_to_currency(darf > 0 ? darf : 0) %></td>
            </tr>
          </tfoot>
        </table>

        <table class="table table-calc table-hover table-sm">
          <thead>
            <tr>
              <th colspan="2">4. IRRF a descontar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% if tax.irrf_accumulated_to_compensate > 0 %>
                <td>IRRF acumulado de meses anteriores:</td>
                <td><%= number_to_currency tax.irrf_accumulated_to_compensate %></td>
              <% else %>
                <td>Sem IRRF acumulado de meses anteriores</td>
                <td></td>
              <% end %>
            </tr>
            <tr>
              <% if tax.calculated_irrf > 0 %>
                <td>IRRF no mês:</td>
                <td><%= number_to_currency tax.calculated_irrf %></td>
              <% else %>
                <td>Sem IRRF no mês</td>
                <td></td>
              <% end %>
            </tr>
            <tr>
              <td>IRRF compensado no DARF:</td>
              <td><%= number_to_currency tax.calculated_irrf_compensated %></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <%
                irrf_sum = tax.irrf_accumulated_to_compensate + tax.calculated_irrf
                irrf_compensated = [darf, irrf_sum].min
                darf -= irrf_compensated
              %>
              <td>Imposto calculado:</td>
              <td><%= number_to_currency(darf > 0 ? darf : 0) %></td>
            </tr>
          </tfoot>
        </table>

        <table class="table table-calc table-hover table-sm">
          <thead>
            <tr>
              <th colspan="2">5. DARF a pagar</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>Imposto calculado:</td>
              <td><%= number_to_currency(darf > 0 ? darf : 0) %></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <button type="button" class="btn btn-secondary" onclick="printElement('#darf-calculated');"><i class="fa fa-print"></i>&nbsp; Imprimir</button>
  </div>
</div>
