<div class="card">
  <div class="card-header">
    DARF referente ao mês de <strong><%= l @date, format: :month %></strong>
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-inverse">
        <tr>
          <th colspan="2">Resumo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>DARF<%= ' parcial' if @date == Date.today %>:</th>
          <td><%= number_to_currency @tax.calculated_darf %></td>
        </tr>
        <tr>
          <th>Vencimento DARF:</th>
          <td><%= l @date.next_month.end_of_month %></td>
        </tr>
        <tr>
          <th>Ganho líquido em operações normais:</th><td class="colorize-number"><%= number_to_currency @tax.calculated_net_earnings[:non_daytrade] %></td>
        </tr>
        <tr>
          <th>Ganho líquido em operações day trade:</th>
          <td class="colorize-number"><%= number_to_currency @tax.calculated_net_earnings[:daytrade] %></td>
        </tr>
        <tr>
          <th>Ganho líquido em operações com fundos imobiliários:</th>
          <td class="colorize-number"><%= number_to_currency @tax.calculated_net_earnings[:fii] %></td>
        </tr>
        <tr>
          <th>Vendas de ações:</th>
          <td>
            <%= number_to_currency @tax.stock_sales %>
            <% if @tax.stocks_tax_free? %>
              <span class="tag tag-success" >ISENTO DE IR</span>
            <% else %>
              <span class="tag tag-danger" >DEVE PAGAR IR</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Prejuízos acumulados de meses anteriores em operações normais:</th>
          <td><%= number_to_currency @tax.losses_accumulated %></td>
        </tr>
        <tr>
          <th>Prejuízos acumulados de meses anteriores em operações day trade:</th>
          <td><%= number_to_currency @tax.losses_accumulated_day_trade %></td>
        </tr>
        <tr>
          <th>Prejuízos acumulados de meses anteriores em operações com fundos imobiliários:</th>
          <td><%= number_to_currency @tax.losses_accumulated_fii %></td>
        </tr>
        <tr>
          <th>IRRF acumulado de meses anteriores:</th>
          <td><%= number_to_currency @tax.irrf_accumulated_to_compensate %></td>
        </tr>
        <tr>
          <th>IRRF no mês:</th>
          <td><%= number_to_currency @tax.calculated_irrf %></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered table-striped table-hover table-sm">
      <thead class="thead-inverse">
        <tr>
          <th colspan="8">Detalhamento</th>
        </tr>
        <tr>
          <th colspan="2">Ativo</th>
          <th>Ganho líquido</th>
          <th>Day trade?</th>
          <th>Alíquota</th>
          <th>Imposto</th>
          <th>IRRF</th>
          <th>Data da alienação</th>
        </tr>
      </thead>
      <tbody>
        <% @tax.tax_entries.each do |entry| %>
          <tr>
            <td><%= entry.asset_class_name %></td>
            <td><%= entry.asset_name %></td>
            <td class="colorize-number"><%= number_to_currency entry.net_earning %></td>
            <td><%= entry.daytrade? ? 'Sim' : 'Não' %></td>
            <td>
              <%= number_to_percentage 100 * entry.aliquot %>
              <% if entry.daytrade %>
                <small>(day trade)</small>
              <% end%>
            </td>
            <td>
              <% if entry.asset == Transaction::ASSET['stock'] && !entry.daytrade && @tax.stocks_tax_free? %>
                <s><%= number_to_currency entry.tax_value %></s>
              <% else %>
                <%= number_to_currency entry.tax_value %>
              <% end %>
            </td>
            <td><%= number_to_currency entry.irrf %></td>
            <td><%= l entry.operation_at %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr style="font-weight: 700; color: white;" class="bg-inverse">
          <td colspan="2"></td>
          <td><%= number_to_currency @tax.calculated_net_earnings.values.sum %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<%= render 'darf_calculated', locals: { tax: @tax, date: @date } %>

<div class="card">
  <div class="card-header">
    DARFs dos últimos 6 anos para contabilidade
  </div>
  <div class="card-block">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th style="width: 7.6923%"></th>
          <th style="width: 7.6923%">JAN</th>
          <th style="width: 7.6923%">FEV</th>
          <th style="width: 7.6923%">MAR</th>
          <th style="width: 7.6923%">ABR</th>
          <th style="width: 7.6923%">MAI</th>
          <th style="width: 7.6923%">JUN</th>
          <th style="width: 7.6923%">JUL</th>
          <th style="width: 7.6923%">AGO</th>
          <th style="width: 7.6923%">SET</th>
          <th style="width: 7.6923%">OUT</th>
          <th style="width: 7.6923%">NOV</th>
          <th style="width: 7.6923%">DEZ</th>
        </tr>
      </thead>
      <tbody>
        <% ((Date.today.year - 6)..Date.today.year).to_a.reverse.each do |year| %>
          <tr>
            <th><%= year %></th>
            <% (1..12).each do |month| %>
              <% tax = @taxes.try(:[], year).try(:[], month) %>
              <td><%= link_to number_to_currency(tax.darf), tax_path(period: tax.period) if tax %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
