<% transaction = locals[:transaction]; f = locals[:f] %>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <%= f.label :old_name %>
      <%= f.text_field :old_name, class: 'form-control', placeholder: 'RUMO3' %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <%= f.label :new_name %>
      <%= f.text_field :new_name, class: 'form-control', placeholder: 'RAIL3' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :operation_at %>
      <%= f.text_field :operation_at, class: 'form-control datepicker', placeholder: 'dd/mm/aaaa', value: transaction.operation_at.strftime('%d/%m/%Y') %>
    </div>
  </div>
</div>
