<% transaction = locals[:transaction]; f = locals[:f] %>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :book_id %>
      <%= f.select :book_id, books_options_for_user, {}, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :operation_at %>
      <%= f.text_field :operation_at, class: 'form-control datepicker', placeholder: 'dd/mm/aaaa', value: transaction.operation_at.strftime('%d/%m/%Y') %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <%= f.label :ticker %>
      <%= f.text_field :ticker, class: 'form-control', placeholder: 'PETR4' %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Petrobrás PN' %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, min: 1, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <%= f.label :price %>
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="input-group-addon">R$</span>
          <%= f.text_field :price, value: number_with_precision(transaction.price, precision: 2), class: 'form-control money brl' %>
        </div>
      </div>
    </div>
  </div>
</div>
