<% content_for :action_buttons do %>
  <li class="breadcrumb-menu">
    <div class="btn-group" role="group">
      <%= link_to new_book_path, class: 'btn btn-secondary' do %>
        <i class="fa fa-plus-circle"></i> &nbsp;Nova estratégia
      <% end %>
    </div>
  </li>
<% end %>

<div class="row sortable-items-container">
  <div class="col-sm-12 col-md-8">
    <%= form_for current_user, url: update_all_books_path, method: :patch, html: {class: 'are-you-sure'} do |f| %>
      <div class="sortable-items dd">
        <ul class="dd-list">
          <% @books.each do |book| %>
            <%= fields_for 'user[books_attributes][]', book do |fb| %>
              <li class="dd-item" data-id="<%= book.id %>">
                <div class="dd-handle">
                  <i class="fa fa-reorder"></i>
                  <%= fb.hidden_field :id, class: 'id' %>
                  <%= fb.hidden_field :parent_id, class: 'parent-id' %>
                  <%= fb.hidden_field :position, class: 'position' %>
                  <%= fb.text_field :name %>
                  <span class="pull-right destroy">
                    <%= fb.check_box :_destroy %>
                    <%= fb.label :_destroy, 'Excluir' %>
                  </span>
                </div>

                <% if (children = book.children).present? %>
                  <ul class="dd-list">
                    <% children.each do |child| %>
                      <%= fields_for 'user[books_attributes][]', child do |fb| %>
                        <li class="dd-item" data-id="<%= child.id %>">
                          <div class="dd-handle">
                            <i class="fa fa-reorder"></i>
                            <%= fb.hidden_field :id, class: 'id' %>
                            <%= fb.hidden_field :parent_id, class: 'parent-id' %>
                            <%= fb.hidden_field :position, class: 'position' %>
                            <%= fb.text_field :name %>
                            <span class="pull-right destroy">
                              <%= fb.check_box :_destroy %>
                              <%= fb.label :_destroy, 'Excluir' %>
                            </span>
                          </div>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-4">
    <button id="save-changes" type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled">Salvar alterações</button>
    <br>
    <div class="alert alert-info" role="alert">
    Você deve clicar no botão <strong>Salvar alterações</strong> para que as mudanças sejam salvas.
    </div>
  </div>
</div>
