<div class="row">
  <div class="col-sm-6">
    <%= form_for(@book) do |f| %>
      <div class="card">
        <div class="card-header">
          <strong>Nova estratégia</strong>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= f.submit class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Voltar', books_path, class: 'btn btn-sm btn-secondary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
