<div class="card">
  <div class="card-header">
    Minha carteira
    <div class="pull-right m-b-0">
      <button id="portfolio-more" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> &nbsp;Expandir</button>
      <button id="portfolio-less" class="btn btn-outline-primary btn-sm hidden-xs-up"><i class="fa fa-list"></i> &nbsp;Recolher</button>
    </div>
  </div>
  <div class="card-block">
    <table class="table table-striped table-sm table-hover">
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th colspan="3">Peso na carteira</th>
          <th>Valor<br>investido</th>
          <th>Valor<br>atual</th>
          <th>Variação</th>
        </tr>
      </thead>
      <tbody>
        <% pv_total = portfolio_value_for(:total, :total) %>
        <% @books.each do |book| %>
          <% pv = portfolio_value_for(:book, book.id) %>
          <tr style="color: #000; font-weight: 700;">
            <td><%= book.name %></td>
            <td><%= number_to_percentage(100*pv[1]/pv_total[1]) if pv_total[1] > 0 %></td>
            <td></td>
            <td></td>
            <td><%= number_to_currency pv[0] %></td>
            <td><%= number_to_currency pv[1] %></td>
            <td class="colorize-number"><%= number_to_percentage(100*(pv[1]/pv[0] - 1)) if pv[0] > 0 %></td>
          </tr>

          <% book.children.each do |book_child| %>
            <% pv_child = portfolio_value_for(:book, book_child.id) %>
            <tr style="color: #444;">
              <td>&nbsp;&nbsp;<%= book_child.name %></td>
              <td></td>
              <td><%= number_to_percentage(100*pv_child[1]/pv[1]) if pv[1] > 0 %></td>
              <td></td>
              <td><%= number_to_currency pv_child[0] %></td>
              <td><%= number_to_currency pv_child[1] %></td>
              <td class="colorize-number"><%= number_to_percentage(100*(pv_child[1]/pv_child[0] - 1)) if pv_child[0] > 0 %></td>
            </tr>

            <% holdings_for_book(book_child.id).each do |h| %>
              <tr style="color: #888; font-style: italic;" class="portfolio-more-content hidden-xs-up">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= h.asset_name %></td>
                <td></td>
                <td></td>
                <td><%= number_to_percentage(100*h.current_value/pv_child[1]) if pv_child[1] > 0 %></td>
                <td><%= number_to_currency h.initial_value %></td>
                <td><%= number_to_currency h.current_value %></td>
                <td class="colorize-number"><%= number_to_percentage(100*(h.current_value/h.initial_value - 1)) if h.initial_value != 0 %></td>
              </tr>
            <% end %>

          <% end %>

          <% holdings_for_book(book.id).each do |h| %>
            <tr style="color: #888; font-style: italic;" class="portfolio-more-content hidden-xs-up">
              <td>&nbsp;&nbsp;&nbsp;&nbsp;<%= h.asset_name %></td>
              <td></td>
              <td></td>
              <td><%= number_to_percentage(100*h.current_value/pv[1]) if pv[1] > 0 %></td>
              <td><%= number_to_currency h.initial_value %></td>
              <td><%= number_to_currency h.current_value %></td>
              <td class="colorize-number"><%= number_to_percentage(100*(h.current_value/h.initial_value - 1)) if h.initial_value > 0 %></td>
            </tr>
          <% end %>

        <% end %>
      </tbody>
      <tfoot>
        <tr style="font-weight: 700; color: white;" class="bg-inverse">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= number_to_currency pv_total[0] %></td>
          <td><%= number_to_currency pv_total[1] %></td>
          <td><%= number_to_percentage(100*(pv_total[1]/pv_total[0] - 1)) if pv_total[0] > 0 %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
