<div class="row">
  <div class="col-lg-5 m-x-auto pull-xs-none vamiddle">
    <div class="card">
      <div class="card-block p-a-2">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <h1>Novo cadastro</h1>
          <p class="text-muted">Informe seu email e uma senha para criar sua conta</p>

          <% if (msg = devise_error_messages!).present? %>
            <div class="alert alert-danger" role="alert"><%= msg %></div>
          <% end %>

          <div class="input-group m-b-1">
            <span class="input-group-addon">@</span>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true %>
          </div>
          <div class="input-group m-b-1">
            <span class="input-group-addon"><i class="icon-lock"></i></span>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Senha', autocomplete: "off" %>
          </div>
          <div class="input-group m-b-2">
            <span class="input-group-addon"><i class="icon-lock"></i></span>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirme sua senha', autocomplete: "off" %>
          </div>
          <button type="submit" class="btn btn-block btn-success">Criar conta</button>
        <% end %>
      </div> <!-- /.card-block -->
    </div> <!-- /.card -->
  </div> <!-- /.vamiddle -->
</div> <!-- /.row -->

<div class="row">
  <div class="col-lg-8 m-x-auto pull-xs-none">
    <div class="devise-other-options">
      <%= link_to 'Já possui uma conta? Entre aqui', new_session_path(resource_name), class: 'btn btn-link' %>
    </div>
  </div>
</div>
